
body {
    font-size:22px;
}
main-header{
	justify-content: center;
}
.main-header{
	color: lightgreen;
}

.inhoud{
    color: darkred;
}
.gegevens{
	color: pink;
	justify-content: center;
	align-items: flex-end;
}